body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/* Header */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.nav {
  text-align: right;
  flex-grow: 1;
}

.logo img {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  width: auto;
  margin-top: 10px;

}

.nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}


/* Mission/Main Content */

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

.mission {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.headline {
  color: white;
  size: 40px;
  background-color: #000;
  height: auto;
  width: 1200px;
  text-align: center;
}

/* Tea of the Month */

img {
  height: 200px;
  width: 300px;
  margin: 0 20px;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.title h2 {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.title .subhedline {
  display: flex;
  justify-content: center;
}

.fall-berry {
  display: flex;
  flex-direction: column;
}

.spiced-rum {
  display: flex;
  flex-direction: column;
}

.seasonal-donuts {
  display: flex;
  flex-direction: column;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.ave {
  display: flex;
  flex-direction: column;
}

.bedford-bizarre {
  display: flex;
  flex-direction: column;
}

.subhedline {
  text-align: center;
  margin: 12px 0;
  font-weight: bold;
}

/* Locations */

.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
}

.title {
  margin-top: -185px;
}

.boxes {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.downtown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 300px;
  height: 300px;
  margin-right: 20px;

}

.east-bayside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 300px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

.oakdale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 300px;
  height: 300px;
  opacity: 1;
}

.address {
  text-align: center;
}

/* Footer */

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: auto;
}

.info h2 {
  padding-top: 10px;
}

/* Copyright */

.copyright {
  text-align: left;
  margin-left: 20px;
}
